@import './mixins'

.add-item-card-style
	@media only screen and (min-width: 900px)
		@include center-box(700px)
	@include center-box(90%)


	

.add-item-card-body
	// background-color: gray
	@include card-body(50px,10px)
	min-height: 400px
	.card-header
		@include card-header



.add-item-form-button
	float: center
	width: 40%
	margin: 5%

.add-item-container

	margin: 20px
	@media only screen and (min-width: 900px)
		width: 600px
		margin: auto

.input-pair-style
	padding: 5px
	