@import './mixins'
@import './constants'

.ant-layout-header
	background: $primary-color
	color: white
	.header-style
		font-size: 25px

.ant-layout-sider
	color: white
	// background-color: skyblue
	li.ant-menu-item
		&:hover
			background: $primary-color
	


.content-box
	justify-content: center
	background: #f5f5f5
	min-height: 700px

