@import './mixins'

.delete-item-container
	margin: auto
	justify-content: center
	@media only screen and (min-width: 1000px)
		width: 85%
	
	// background-color: gray
	@include card-body(20px,10px)
	// min-height: 400px
	.card-header
		@include card-header

.page-display-box
	// background-color: gray
	min-height: 500px
	width: 100%
	margin-top: 20px
.delete-form-button
	// float: center
	width: 20%
	margin: 5%