@import './mixins'

.title
	padding-top: 20px
	text-align: center
	font: 24px Arial

.home-body
	padding: 20px 10px 100px 10px

	// @include center-box(95%)
	.carousel-top
		background-color: lightgray
		height: 200px
	.tile
		width: 80%
		margin-top: 20px
		box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)


	.items-display
		display: grid
		@media screen and (max-width: 1000px)
			grid-template-columns: 1fr 1fr
		grid-template-columns: 1fr 1fr 1fr


a
	color: black
	&:hover
		text-decoration: none
.editable-row .ant-form-explain 
  position: absolute
  font-size: 12px
  margin-top: -4px
		