
.box-modal
	// background-color: lightgray
	height: 100%
.image-thumbnail
	cursor: pointer
	max-height: 50px
	max-width: 50px
	height: auto
	width: auto
	&:hover 
		filter: blur(1px)
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.image-frame1
	height: 450px
	position: relative
	
.box-carousel
	// background-color: lightgray
	height: 400px


.image-frame
	height: 350px
	// width: 50%
	position: relative
	cursor: zoom-in


.centered-image
	max-width: 80%
	max-height: 100%
	width: auto
	height: auto
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	margin: auto
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.tabbed-details
	width: 100%
	min-height: 400px
	// max-height: 600px
	border: 1px solid lightgray
	padding: 20px
	margin-top: 20px
	margin-bottom: 20px

.item-description-container
	padding: 0px 20px 20px 20px
.space-out
	margin-top: 20px
	margin-bottom: 20px
.item-container
	padding: 20px
	width: 90%
	@media only screen and (min-width: 900px)
		width: 800px

.add-review-style
	border: solid 1px lightgray
	width: 80%
	padding: 20px
	padding-bottom: 0px

