// @import './mixins'

// .card-style
// 	@include center-box
// 	.card-body
// 		@include card-body(50px,10px)

.modal-content
	.modal-header
		background-color: teal
		height: 60px
		justify-content: center
	.modal-body
		height: 80px
		margin: auto
	.modal-footer
		height: 60px
		.btn
			width: 150px
			margin-top: 0px

