@import './constants'

@mixin center-box($width:400px, $top-margin:50px )
	width: $width 
	margin: $top-margin auto
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

@mixin card-header($color:$primary-color, $height:50px, $padding:10px )
	background-color: $color
	height: $height
	padding: $padding
	
@mixin card-body($padding, $padding-bottom)
	padding: $padding
	padding-bottom: $padding-bottom
	padding-top: 80px

