@import './constants'

.nav-style
	background-color: $primary-color
	height: 50px

a
	// margin: 0px
	text-decoration: none
	font-size: 17px
	&:hover
		text-decoration-color: white
		// background-color: #ddd

.align-right
		margin-left: auto

.dropdown-menu
	background-color: lightgray
	border-radius: 0px

.center-menu
	background-color:black