.link-style
	font-size: 14px


.ant-card-body
	padding: 20px

.order_item_card
	padding: 10px
	margin: 10px
	width: 100%

	.order_item_content
		margin: 5%
		padding: 5%

.order_item_card_body
	border: solid 1px gray
	padding: 10px
	margin: 10px
