@import './mixins'

.cart-content
	width: 90%
	margin: 10px auto
	@media only screen and (min-width: 1000px)
		width: 85%

.cart-card-style
	@include center-box(95%,20px)
	
	
	.cart-header
		@include card-header
	.cart-card-body
		@include card-body(5px,10px)
		padding-top: 20px
		padding: 20px 10px

.space-out
	padding-top: 5px

.cart-item-border
	border: 1px solid gray
	padding: 10px