/*reset CSS*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
    font-family: Helvetica;
    /*background-color: #f5f5f5;*/
}

body {
  padding: 0px;
  min-height: 100%;
  background-color: #f5f5f5;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000000;
  /*background-color: #FF0000;*/
}
a:hover{
  color: darkgrey;
}

.alignleft{
  float: left;
}

.alignright{
  float: right;
}


/*for navigation brand*/
.navbar-brand {
  line-height: 18px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.navbar-brand small {
  display: block;
  font-size: 12px;
  /*font-family: comic;*/
}

/*homepage: useful tools: 6tips*/
.tip-button {
  margin-top: 10px;
  font-size: 20px;
  width: 100%;
  background-color: white;
  opacity: 0.7;
  color: black;
  border: 1px solid #4CAF50;
  border-radius: 0px;
}

.tip-button:hover {
  background-color: gray;
  color: white;

}

/*to keep footer at the bottom, set the height of id=top-container which contain ng-view*/

#top-container {
  min-height: 80%;
}

/*banner for each page*/
.top-banner {
  font-size: 16px;
  text-align: center;
  background-color: lightgray;
  padding-top: 8px;
  height: 40px;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 10px;
}

.heading {
  font-weight: bold;
  font-size: 16;
}

.justified {
  text-align: justify;
}


@media only screen and (max-width: 700px){

}
